@font-face {
    font-family: '标题';
    src: url('../fonts/title.TTF') format('truetype');
}

@font-face {
    font-family: '正文';
    src: url('../fonts/content.TTF') format('truetype');
}

:root {
    --background-color: #ffcc6633;
}

body {
    font-family: '正文', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: #ffff66;
    color: black;
    padding: 1rem;
    text-align: center;
    font-family: '标题', Arial, sans-serif;
}

table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: rgba(13, 204, 140, 0.336);
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
    width: 50%;
    line-height: 2;
    /* Increase line spacing */
}

th {
    background-color: #0fb7d4;
}

pre {
    background-color: rgba(13, 204, 140, 0.336);
    /* 设置背景颜色 */
    border: 1px solid #000000;
    /* 设置边框 */
    border-radius: 5px;
    /* 设置圆角 */
    padding: 1rem;
    /* 设置内边距 */
    overflow-x: auto;
    /* 允许水平滚动 */
}

code {
    font-family: 'Courier New', Courier, monospace;
    /* 设置字体 */
    font-size: 0.95rem;
    /* 设置字体大小 */
    color: #333;
    /* 设置字体颜色 */
}

main {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 900px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.last-edit {
    padding: 1rem;
    text-align: right;
    font-size: 0.9rem;
    color: #888;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    main {
        max-width: 90%;
        width: 90%;
        padding: 1rem;
        margin: 1rem 0;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}