html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.beian-footer {
    text-align: center;
    padding: 8px 0;
    z-index: 1000;
    font-size: 0.5vw;
    color: #333;
    font-family: Arial, sans-serif;
}

.beian-info {
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif; /* 设置为默认字体 */
}

.beian-icon {
    width: 0.5vw;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.spacer {
    margin: 0 5px;
}