@font-face {
    font-family: '网站名称';
    src: url('../fonts/webName.TTF') format('truetype');
}

@font-face {
    font-family: '标题';
    src: url('../fonts/title.TTF') format('truetype');
}

@font-face {
    font-family: '正文';
    src: url('../fonts/content.TTF') format('truetype');
}

body {
    font-family: '正文', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff99662f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc66;
    color: white;
    padding: 1rem;
    font-family: '网站名称', Arial, sans-serif;
    position: relative;
    /* 添加相对定位 */
}

/* 设置 header-icons 的位置 */
.header-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    /* 图标大小 */
    position: absolute;
    /* 绝对定位 */
    right: 1rem;
    /* 距离右边 1rem */
    top: 50%;
    /* 垂直居中 */
    transform: translateY(-50%);
    /* 垂直居中 */
}

.header-icons a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-icons a:hover {
    color: #ff6666;
    /* 鼠标悬停时的颜色变化 */
}

main {
    padding: 2rem;
}

#articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h2 {
    margin: 0 0 0.5rem 0;
    font-family: '标题', Arial, sans-serif;
}

.article time {
    color: #888;
    font-size: 0.9rem;
}